html, body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.1rem;
}

h1 {
  color: #222;
  font-size: 3.75rem;
  margin-top: 10rem;
  margin-bottom: 5rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}

h1 svg {
  width: 65px;
  display: block;
}

h2 {
  font-size: 1.75rem;
}

.ant-layout-header {
  background: transparent;
  height: auto;
}

.ant-btn, .ant-btn:focus {
  height: 42px;
  padding: 4px 25px;
  background-color: #ff2737;
  border: 1px solid #ff2737;
  text-transform: uppercase;
  border-radius: 21px;
}

.ant-btn:hover {
  background-color: white;
  color: #ff2737;
  border: 1px solid #ff2737;
}

.ant-form-item {
  margin-bottom: 15px;
}

.ant-layout-footer p {
  margin-bottom: 0;
}

.ant-form-item-label > label {
  font-size: 1.1rem;
  line-height: 1.3rem;
}